body{
    background-image: url("./BackgroundIcon.png");
    background-size: 150px;
    background-repeat: space;
    
}


.app-container {

    padding: 20px;
    background-color: white;
    border: 10px solid rgb(206, 206, 206);
    border-radius: 30px;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.app-title {
    text-align: center;
    color: #97b7be;
}






@media screen and (max-width: 480px) {

    .app-container{
        margin: auto;
        padding: 0px;
        width: 90%;
        border: none;
    }

    body{
    
        background-size: 80px;
    
    
    }

}


.interactables {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 5px gray;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}

.text-toolbar{
    justify-self: left;
    align-self: flex-start;
    display:inline-flex;
    border: 0px solid red;
    margin-left: 0px;
}

.text-toolbar button {
    background-color: transparent;
    border: none;
    width: 45px;
    height: 40px;
    border: 0px solid black;
    cursor: pointer;
}

.text-toolbar button img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.interactables h4 {
    justify-self: left;
    align-self: flex-start;
    color:gray;
    margin-bottom:0px;
}

.interactables span {
    color: gray;
    margin-right: 20px;
    align-self: center;
}

.text-area {
    border-radius: 10px;
    width: 100%;
    border: none;
    border-bottom: 0px solid black;
    
    height: 150px;
    
}


.info-box {
    display:flex;
    flex-direction:column;  
    
    box-shadow: 3px 3px 5px gray;
    border-radius: 10px;
    padding:20px;
}



